# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio

*.iml

.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

*.ipr
*.iws


# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# PDT-specific
.buildpath

# sbteclipse plugin
.target

# TeXlipse plugin
.texlipse
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# app log
*.log
LOG_DIR_IS_UNDEFINED/
.DS_Store
/property-finance-web-app/src/main/resources/application-local.properties
/property-finance-web-app/src/main/resources/application.properties
/labrador-common/.mvn/wrapper/maven-wrapper.jar
/labrador-common/.mvn/wrapper/maven-wrapper.properties
/labrador-common/.mvn/wrapper/MavenWrapperDownloader.java
/labrador-common/src/main/java/com/labrador/common/LabradorCommonApplication.java
/labrador-common/src/main/resources/application.properties
/labrador-common/src/test/java/com/labrador/common/LabradorCommonApplicationTests.java
/labrador-common/.gitignore
/labrador-common/mvnw
/labrador-common/mvnw.cmd
/labrador-common/pom.xml
/labrador-common/.mvn/wrapper/maven-wrapper.jar
